*{
    margin: 0;
    padding: 0;
}

button{
    padding: 10px;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}

#box{
    border: 3px solid black;
    padding: 10px;
    font-size: 2em;
    background-color: midnightblue;
    color: white;
    margin: 10px;
}